body {
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-image: url("../images/background.png");
    height: 100%;
    margin: 0;
    font-family: 'Poppins';
}

.loading-section {
    width: 100%;
    height: max-content;
    background-image: url("../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loading {
    display: block;
    width: 30%;
    margin: auto;
}

.logo-loading {
    display: block;
    width: 40%;
    margin: auto;
    margin-top: 18%;
}

.title{
    position:absolute;
    bottom: 0;
    width: 100%;
    margin: auto auto 50px auto;
    justify-content: baseline;
    text-align: center;
}